<!-- first bar -->
<div class="top-bar-container d-flex flex-wrap justify-content-center align-items-center text-white">
  <div class="text-end bg-success  px-1 ms-3">
    <div>اتصل واطلب</div>
    <div class="fs-3">17269</div>
  </div>

  <div class="d-flex align-items-center  px-2 mt-2">
  <div class="fw-bold fs-3 px-2">جوميا</div>
  <div class="circle-white d-flex align-items-center justify-content-center">
    <i class="fas fa-star text-dark small"></i>
  </div>
</div>

  <div class="fs-1">سنيركز فيستيفال</div>
  <div class="px-2">|</div>

  <div class="d-flex align-items-baseline gap-1 px-2 fs-1">
    <div class="">خصم حتى</div>
    <div class=" fw-bold">60%</div>
  </div>

  <div class="px-2">|</div>
  <div class="px-2 fs-3">4-17 أغسطس</div>

  <div class="orange-box text-end px-2 py-1 text-white">
    <div>0% فوائد - مصاريف ادريه</div>
    <div class="text-center">مقدم علي 3 شهور</div>
  </div>
</div>


<!-- second bar -->
<div class="container-fluid bg-light text-white px-3 py-2">
  <div class="row d-flex flex-column flex-md-row justify-content-between px-5 align-items-center">
    <div class="d-flex align-items-center mb-2 mb-md-0 px-2 col-auto">
      <div class="circle-orange d-flex align-items-center justify-content-center">
        <i class="fas fa-star text-white small"></i>
      </div>
      <div class="fw-bold fs-5 px-2 text-orange">بيع علي جوميا</div>
    </div>

    <div class="d-flex align-items-center mb-2 mb-md-0 px-2 col-auto">
      <div class="circle-orange d-flex align-items-center justify-content-center">
        <i class="fas fa-star text-white small"></i>
      </div>
      <div class="fw-bold fs-5 px-2 text-dark">JUMIA</div>
    </div>

    <div class="d-flex align-items-center justify-content-center flex-wrap px-2 col-auto">
      <div class="d-flex align-items-center">
        <div class="circle-white d-flex align-items-center justify-content-center">
          <i class="fas fa-star text-dark small"></i>
        </div>
        <div class="fw-bold fs-6 px-2 text-secondary">English</div>
      </div>

      <div class="px-2 text-dark">|</div>
      <div class="d-flex align-items-center">
        <div class="circle-white d-flex align-items-center justify-content-center">
          <i class="fas fa-star text-dark small"></i>
        </div>
        <div class="fw-bold fs-6 px-2 text-secondary">Arabic</div>
      </div>
    </div>

  </div>
</div>


<!-- navbar -->
<nav class="navbar navbar-expand-md bg-white py-2 px-2 border-bottom sticky-navbar">
  <div class="container-fluid">

    <div class="d-flex align-items-center gap-2">
      <div class="circle-orange d-flex align-items-center justify-content-center">
        <i class="fas fa-star text-white small"></i>
      </div>
      <h1 class="m-0 fs-4">JUMIA</h1>
    </div>

    <!-- Toggler for mobile -->
    <button class="navbar-toggler me-2 ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#jumiaNavbar" aria-controls="jumiaNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="jumiaNavbar">
      <div class="d-flex flex-column flex-md-row align-items-center justify-content-between w-100 mt-3 mt-md-0">

        <div class="col-md-6 d-flex align-items-center justify-content-md-end justify-content-center mb-3 mb-md-0 me-1">
          <div class="input-group w-100 w-md-75 text-end">
            <input type="text" class="form-control text-end border-start-0" placeholder=" البحث عن منتجات والعلامات التجاريه والأقسام" aria-label="Search">
          </div>
        </div>

        <div class="col-md-1 d-flex justify-content-md-start justify-content-center mb-3 mb-md-0 me-2">
          <div class="orange-box text-end px-2 py-1 text-white">
            <div>البحث</div>
          </div>
        </div>

        <div class="col-md-5 d-flex align-items-center justify-content-center justify-content-md-start flex-wrap gap-3">
          <div class="d-flex align-items-center gap-1">
            <i class="fas fa-user text-dark"></i>
            <span>تسجيل الدخول</span>
            <i class="fas fa-chevron-down"></i>
          </div>

          <div class="d-flex align-items-center gap-1">
            <i class="fas fa-star text-dark"></i>
            <span>المساعده</span>
            <i class="fas fa-chevron-down"></i>
          </div>

          <div class="d-flex align-items-center gap-1">
            <i class="fas fa-shopping-cart text-dark"></i>
            <span>سله التسوق</span>
          </div>
        </div>

      </div>
    </div>
  </div>
</nav>


<div class="container py-3">
  <div class="row gy-4">

    <div class="col-12 col-md-3 bg-light">
      <div class="pt-1">
        <div class="d-flex align-items-center gap-1 me-1"><i class="fas fa-chevron-down"></i><span>أزياء</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>موبايلات وتابلت</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>الصحه والجمال</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>المنزل والأثاث</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>أجهزه منزليه</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>التلفزيونات والصوتيات</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>منتجات العنايه بالأطفال</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>بقاله</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>الكمبيوتر</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>مستلزمات رياضيه</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1"><i class="fas fa-chevron-down"></i><span>العاب</span></div>
        <div class="d-flex align-items-center gap-1 me-1 mt-1 pb-1"><i class="fas fa-chevron-down"></i><span>أقسام أخري</span></div>
      </div>
    </div>

 <div class="slider-container col-12 col-md-6 mx-auto">
  <div class="slider-wrapper">
    <img [src]="images[currentIndex]" class="slider-img" *ngIf="images.length">

    <div class="slider-dots">
      <span 
        *ngFor="let img of images; let i = index" 
        [class.active]="i === currentIndex" 
        (click)="goToSlide(i)">
      </span>
    </div>
  </div>
</div>

<div class="col-12 col-md-3">

  <div class="bg-light py-2 mb-2">
    <div class="d-flex align-items-center mb-3">
      <div class="circle-orange d-flex align-items-center justify-content-center me-2">
        <i class="fas fa-star text-white small"></i>
      </div>
      <div class="me-1">
        <div class="fw-bold">اشتغل استشاري مبيعات</div>
        <div class="text-muted">مع جوميا</div>
      </div>
    </div>

    <div class="d-flex align-items-center mb-3">
      <div class="circle-orange d-flex align-items-center justify-content-center me-2">
        <i class="fas fa-star text-white small"></i>
      </div>
      <div class="me-1">
        <div class="fw-bold">بيع علي جوميا</div>
        <div class="text-muted">و زود مبيعاتك</div>
      </div>
    </div>

    <div class="d-flex align-items-center mb-4">
      <div class="circle-orange d-flex align-items-center justify-content-center me-2">
        <i class="fas fa-star text-white small"></i>
      </div>
      <div class="me-1">
        <div class="fw-bold">ضمان</div>
        <div class="text-muted">علي مشترياتك</div>
      </div>
    </div>

  </div>

    <img src="assets/img (2).png" alt="Square Image" class="img-fluid" style="width: 150px; height: 150px; object-fit: cover;">
</div>

  </div>
</div>


<div class="container my-2">
  <div class="row justify-content-center">
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (1).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (5).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (6).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (5).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (1).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (6).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
  </div>
</div>


<div class="container mb-2">
  <div class="row bg-light border p-1 circle-img ">
<img src="assets/img (2).png" alt="Square Image" class="img-fluid image1 " style="height: 200px; object-fit: cover;">
  </div>
</div>

<!-- category -->
<div class="container my-5">
  <h2 class="text-center mb-4 title">كل الي هتحتاجه في مكان واحد</h2>
  <div class="row g-4">
    <div class="col-6 col-md-3" *ngFor="let category of categories">
      <div class="category-card">
        <img [src]="getImageUrl(category)" class="img-fluid" alt="{{category}}">
        <p class="text-center mt-2 category-name">{{ category }}</p>
      </div>
    </div>
  </div>
</div>


<!-- best seller -->
<div class="container py-4 bg-light">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h5 class="fw-bold m-0">المنتجات الأفضل مبيعاً</h5>
    <a href="#" class="text-decoration-none small text-warning"> عرض الكل ></a>
  </div>

  <div class="row g-3">
    <div
      class="col-4 col-md-2 col-lg-2 card1"
      *ngFor="let product of bestSellers"
    >
    <a [routerLink]="['/product', product.id]" class="text-decoration-none text-dark" >
     <div class="card card1 h-100 shadow-sm border-0 position-relative">
  <span
    class="position-absolute top-0 start-0 bg-warning text-white px-2 py-1 small rounded-end"
    style="font-size: 12px"
  >
    -60%
  </span>

  <img
    [src]="product.image"
    alt="product"
    class="card-img-top p-3"
    style="height: 200px; object-fit: contain"
  />

  <div class="card-body p-2 d-flex flex-column justify-content-between">
    <h6 class="card-title mb-1" style="font-size: 14px;">
      {{ product.title }}
    </h6>
    <div>
      <span class="text-success fw-bold">${{ product.price | number:'1.2-2' }}</span>
      <br />
      <span class="text-muted small text-decoration-line-through ms-1">
        ${{ (product.price / 0.4) | number:'1.2-2' }}
      </span>
    </div>
  </div>
</div>
    </a>

    </div>
  </div>
</div>


<!-- sales -->
 <div class="container py-4 bg-light">

<div class="d-flex justify-content-between align-items-center mb-3 flex-wrap bg-danger px-2 py-2">
  <h5 class="fw-bold m-0 text-white">Flash Sales كل يوم!!</h5>
  <h2 class="text-white m-0">
    الوقت المتبقي :
    {{ remainingHours }} ساعة
    {{ remainingMinutes }} دقيقة
    {{ remainingSeconds }} ثانية
  </h2>
  <a href="#" class="text-decoration-none small text-white fw-bold fs-5">عرض الكل ></a>
</div>

  <div class="row g-3">
    <div
      class="col-4 col-md-2 col-lg-2 card1"
      *ngFor="let product of bestSellers"
    >
    <a [routerLink]="['/product', product.id]" class="text-decoration-none text-dark" >
     <div class="card card1 h-100 shadow-sm border-0 position-relative">
  <span
    class="position-absolute top-0 start-0 bg-warning text-white px-2 py-1 small rounded-end"
    style="font-size: 12px"
  >
    -60%
  </span>

  <img
    [src]="product.image"
    alt="product"
    class="card-img-top p-3"
    style="height: 200px; object-fit: contain"
  />

  <div class="card-body p-2 d-flex flex-column justify-content-between">
    <h6 class="card-title mb-1" style="font-size: 14px;">
      {{ product.title }}
    </h6>
    <div>
      <span class="text-success fw-bold">${{ product.price | number:'1.2-2' }}</span>
      <br />
      <span class="text-muted small text-decoration-line-through ms-1">
        ${{ (product.price / 0.4) | number:'1.2-2' }}
      </span>
    </div>
  </div>
</div>
    </a>

    </div>
  </div>
</div>


<div class="container mb-2">
  <div class="row bg-light border p-1 circle-img ">
    <div class="row text-center mb-2">
      <h4>عروض متتفوتش</h4>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="assets/sale (1).png" alt="Square Image" class="img-fluid image1 " style="height: 200px; object-fit: cover;">
      </div>

        <div class="col-md-6">
        <img src="assets/sale (2).png" alt="Square Image" class="img-fluid image1 " style="height: 200px; object-fit: cover;">
      </div>

    </div>

  </div>
</div>

<!-- slider1 -->
<div class="container py-4 bg-light position-relative overflow-hidden">
  <div class="d-flex justify-content-between align-items-center mb-3 flex-wrap">
    <h5 class="fw-bold m-0">المنتجات المدعومه</h5>
  </div>

  <div
    class="slider-arrow left-arrow"
    (click)="scrollLeft()"
    (mouseenter)="hover = true"
    (mouseleave)="hover = false"
  >
    <i class="fas fa-chevron-left"></i>
  </div>
  <div
    class="slider-arrow right-arrow"
    (click)="scrollRight()"
    (mouseenter)="hover = true"
    (mouseleave)="hover = false"
  >
    <i class="fas fa-chevron-right"></i>
  </div>

  <div
    #scrollContainer
    class="d-flex flex-nowrap gap-3 overflow-auto scroll-container"
  >
  
    <div
      class="card card2 flex-shrink-0 border-0 shadow-sm"
      style="width: 16.66%"
      *ngFor="let product of sale"
    >
    <a [routerLink]="['/product', product.id]" class="text-decoration-none text-dark" >
      <span class="position-absolute top-0 start-0 bg-warning text-white px-2 py-1 small rounded-end" style="font-size: 12px">
        -60%
      </span>

      <img [src]="product.image" alt="product" class="card-img-top p-3" style="height: 200px; object-fit: contain" />

      <div class="card-body p-2 d-flex flex-column justify-content-between">
        <h6 class="card-title mb-1" style="font-size: 14px;">{{ product.title }}</h6>
        <div>
          <span class="text-success fw-bold">${{ product.price | number:'1.2-2' }}</span><br />
          <span class="text-muted small text-decoration-line-through ms-1">
            ${{ (product.price / 0.4) | number:'1.2-2' }}
          </span>
        </div>
      </div>
    </a>
    </div>
  </div>
</div>


 <div class="container py-4 bg-light">
<div class="d-flex justify-content-between align-items-center mb-3 flex-wrap bg-warning px-2 py-2">
  <h5 class="fw-bold m-0 text-dark">سنيكرز فيستيفال | خصم حتى 60%</h5>
  <a href="#" class="text-decoration-none small text-dark fw-bold fs-5">عرض الكل ></a>
</div>

  <div class="row g-3">
    <div
      class="col-4 col-md-2 col-lg-2 card1"
      *ngFor="let product of sale"
    > 
   <a [routerLink]="['/product', product.id]" class="text-decoration-none text-dark" >
  <div class="card card1 h-100 shadow-sm border-0 position-relative">
    <span
      class="position-absolute top-0 start-0 bg-warning text-white px-2 py-1 small rounded-end"
      style="font-size: 12px"
    >
      -60%
    </span>

    <img
      [src]="product.image"
      alt="product"
      class="card-img-top p-3"
      style="height: 200px; object-fit: contain"
    />

    <div class="card-body p-2 d-flex flex-column justify-content-between">
      <h6 class="card-title mb-1" style="font-size: 14px;">
        {{ product.title }}
      </h6>
      <div>
        <span class="text-success fw-bold">
          ${{ product.price | number:'1.2-2' }}
        </span>
        <br />
        <span class="text-muted small text-decoration-line-through ms-1">
          ${{ (product.price / 0.4) | number:'1.2-2' }}
        </span>
      </div>
    </div>
  </div>
</a>


    </div>
  </div>
</div>

<!-- section1 -->
<div class="container py-4 bg-light">
<div class="d-flex justify-content-between align-items-center mb-3 flex-wrap bg-warning px-2 py-2">
  <h5 class="fw-bold m-0 text-dark">Andora | اشتري 2 و احصل على 50% - عند الشراء</h5>
  <a href="#" class="text-decoration-none small text-dark fw-bold fs-5">عرض الكل ></a>
</div>

  <div class="row g-3">
    <div
      class="col-4 col-md-2 col-lg-2 card1"
      *ngFor="let product of productss"
    >
     <a [routerLink]="['/product', product.id]" class="text-decoration-none text-dark" >
     <div class="card card1 h-100 shadow-sm border-0 position-relative">
  <span
    class="position-absolute top-0 start-0 bg-warning text-white px-2 py-1 small rounded-end"
    style="font-size: 12px"
  >
    -60%
  </span>

  <img
    [src]="product.image"
    alt="product"
    class="card-img-top p-3"
    style="height: 200px; object-fit: contain"
  />

  <div class="card-body p-2 d-flex flex-column justify-content-between">
    <h6 class="card-title mb-1" style="font-size: 14px;">
      {{ product.title }}
    </h6>
    <div>
      <span class="text-success fw-bold">${{ product.price | number:'1.2-2' }}</span>
      <br />
      <span class="text-muted small text-decoration-line-through ms-1">
        ${{ (product.price / 0.4) | number:'1.2-2' }}
      </span>
    </div>
  </div>
</div>
     </a>
    </div>
  </div>
</div>

<!-- section2 -->
<div class="container py-4 bg-light">

<div class="d-flex justify-content-between align-items-center mb-3 flex-wrap bg-warning px-2 py-2">
  <h5 class="fw-bold m-0 text-dark">Andora | اشتري 2 و احصل على 50% - عند الشراء</h5>
  <a href="#" class="text-decoration-none small text-dark fw-bold fs-5">عرض الكل ></a>
</div>

  <div class="row g-3">
    <div
      class="col-4 col-md-2 col-lg-2 card1"
      *ngFor="let product of productss">

      <a [routerLink]="['/product', product.id]" class="text-decoration-none text-dark" >
     <div class="card card1 h-100 shadow-sm border-0 position-relative">
  <span
    class="position-absolute top-0 start-0 bg-warning text-white px-2 py-1 small rounded-end"
    style="font-size: 12px"> -60% </span>
  <img
    [src]="product.image"
    alt="product"
    class="card-img-top p-3"
    style="height: 200px; object-fit: contain"
  />
  <div class="card-body p-2 d-flex flex-column justify-content-between">
    <h6 class="card-title mb-1" style="font-size: 14px;">
      {{ product.title }}
    </h6>
    <div>
      <span class="text-success fw-bold">${{ product.price | number:'1.2-2' }}</span>
      <br />
      <span class="text-muted small text-decoration-line-through ms-1">
        ${{ (product.price / 0.4) | number:'1.2-2' }}
      </span>
    </div>
  </div>
</div>
      </a>



    </div>
  </div>
</div>

<!-- section3 -->
<section class="py-5 px-3 text-end  mt-2" dir="rtl">
  <div class="container bg-light">
    <h2 class="fw-bold  mb-3">جوميا مصر - تسوق كل احتياجاتك بسهولة وأمان</h2>
    <p class="mb-4">
      جوميا مصر هي وجهتك الأولى للتسوق عبر الإنترنت، حيث نقدم لك مجموعة واسعة من المنتجات بأفضل الأسعار والجودة.
      استمتع بتجربة تسوق مريحة مع أكثر من مليون منتج في مكان واحد.
    </p>

    <h4 class="fw-bold text-dark">استكشف فئاتنا المتنوعة:</h4>
    <ul class="list-unstyled mb-4">
      <li>. إلكترونيات: موبايلات (أبل، سامسونج، شاومي)، تلفزيونات، لاب توب، وإكسسوارات.</li>
      <li>. أزياء: ملابس للرجال، النساء، والأطفال، بما في ذلك ملابس المحجبات والأحذية.</li>
      <li>. المنزل والمطبخ: ثلاجات، غسالات، تكييفات، ومستلزمات ديكور وطبخ.</li>
      <li>. سوبرماركت: أطعمة، مشروبات، ومستلزمات يومية بأسعار تنافسية.</li>
      <li>. الصحة والجمال: مستحضرات تجميل، عطور، ومنتجات العناية من ماركات عالمية.</li>
    </ul>

    <h4 class="fw-bold text-dark">عروض حصرية وخدمات رائعة:</h4>
    <ul class="list-unstyled mb-4">
      <li> . عروض وتخفيضات: استمتع بالعروض المستمرة مثل أسبوع الموبايلات ورمضان.</li>
      <li>.  جوميا اكسبريس: توصيل سريع للمنتجات من مخزن جوميا.</li>
      <li>.  طرق دفع آمنة: الدفع عند الاستلام، بطاقات ائتمان (فيزا، ماستر كارد)، فوري.</li>
      <li> . إرجاع مجاني: استرجع مشترياتك مجانًا خلال 14 يومًا.</li>
    </ul>

    <h4 class="fw-bold text-dark">لماذا تختار جوميا؟</h4>
    <ul class="list-unstyled mb-4">
      <li>. راحة التسوق: اشترِ كل شيء من منزلك بسهولة.</li>
      <li>. خدمة العملاء: تواصل عبر 19586 أو مواقع التواصل الاجتماعي طوال الأسبوع.</li>
      <li>. بيع على جوميا: انضم كشريك وزد مبيعاتك عبر منصتنا.</li>
    </ul>

   <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-start mt-4 gap-2">
        <a href="#" class="text-dark px-2 py-2 ">ابدأ التسوق الآن</a>
        <span class="text-muted">مع جوميا مصر لتجربة فريدة تجمع بين الجودة والتنوع!</span>
      </div>
  </div>
</section>

<div class="container my-2 mt-2">
  <div class="row text-center">
    <h3>اكتشف أكثر</h3>
  </div>
  <div class="row justify-content-center">
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (1).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (5).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (6).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (5).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (1).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
    <div class="col-6 col-sm-4 col-md-2 mb-3 text-center circle-img">
      <img src="assets/img (6).png" class="custom-rounded img-fluid" width="200" height="200">
    </div>
  </div>
</div>

<!-- footer -->
 <footer class="bg-dark text-white pt-1" dir="rtl">
  <div class="container text-center text-md-start">
    <div class="row justify-content-between align-items-center px-3 pb-4">

        <div class="col-md-4 text-center mb-3 mb-md-0">
       <div class="d-flex align-items-center mb-2 mb-md-0 px-2 col-auto">
      <div class="circle-orange d-flex align-items-center justify-content-center">
        <i class="fas fa-star text-white small"></i>
      </div>
      <div class="fw-bold fs-5 px-2 text-white">JUMIA</div>
    </div>
      </div>

        <div class="col-md-4 text-end">
        <p class="fw-bold">هل أنت جديد على جوميا؟</p>
        <p>اشترك في نشرتنا الاخبارية للحصول على أحدث العروض</p>
        <form class="d-flex flex-column flex-sm-row gap-2">
          <div class="input-group">
            <input
              type="email"
              class="form-control border-danger"
              placeholder="أدخل بريدك الإلكتروني"
            />
          </div>
          <button class="btn btn-outline-light" type="submit">اشترك</button>
        </form>
        <p class="text-danger">معلومات مطلوبه</p>
        <div class="form-check mt-2">
            <label class="form-check-label small" for="policyCheck">
            أوافق على سياسة الخصوصية وملفات تعريف الارتباط لدى جوميا، وأعلم أنني يمكنني الإلغاء
          </label>
          <input class="form-check-input" type="checkbox" id="policyCheck" />
        </div>
        <div class="form-check mt-1">
            <label class="form-check-label small" for="termsCheck">
            أوافق على الشروط القانونية
          </label>
          <input class="form-check-input" type="checkbox" id="termsCheck" />
        </div>
      </div>

      <div class="col-md-4">
       <div class="d-flex align-items-center mb-3">
      <div class="circle-orange d-flex align-items-center justify-content-center me-2">
        <i class="fas fa-star text-white small"></i>
      </div>
      <div class="mt-1 me-1">
        <div class="fw-bold text-end">تنزيل تطبيق جوميا المجاني</div>
        <div class="text-white">احصل علي العديد من العروض الحصرية</div>
      </div>
    </div>
      </div>

    </div>
  </div>

  <div class="bg-secondary text-white py-4 mt-3 text-end">
    <div class="container">
      <div class="row text-end text-md-start gy-4">

         <div class="col-md-3">
          <h6 class="fw-bold">تحتاج مساعدة؟</h6>
          <ul class="list-unstyled small">
            <li>تواصل معنا</li>
            <li>مركز المساعدة</li>
            <li>اتصل بنا</li>
          </ul>

          <h6 class="fw-bold mt-3">روابط مفيدة:</h6>
          <ul class="list-unstyled small">
            <li>كيفية عمل طلب شراء</li>
            <li>طرق الدفع</li>
            <li>سياسة الشحن</li>
          </ul>
        </div>


        <div class="col-md-3">
          <h6 class="fw-bold">من نحن</h6>
          <ul class="list-unstyled small">
            <li>انضم إلى جوميا</li>
            <li>الشروط والأحكام</li>
            <li>شروط وأحكام بائع متجر جوميا</li>
            <li>سياسة ملفات تعريف الارتباط</li>
            <li>توصيل مجاني</li>
            <li>فلان سبل</li>
          </ul>
        </div>

        <div class="col-md-3">
          <h6 class="fw-bold">زود مبيعاتك</h6>
          <ul class="list-unstyled small">
            <li>بيع على جوميا</li>
            <li>قاعدة معرفة التاجر (Vendor hub)</li>
            <li>ابدأ بزنس مع جوميا (J-Force)</li>
          </ul>
        </div>

        <div class="col-md-3">
          <h6 class="fw-bold">جوميا دوليًا</h6>
          <ul class="list-unstyled small">
            <li>الجزائر</li>
            <li>ساحل العاج</li>
            <li>غانا</li>
            <li>كينيا</li>
            <li>المغرب</li>
            <li>نيجيريا</li>
            <li>السنغال</li>
            <li>أوغندا</li>
          </ul>
        </div>

       
      </div>
    </div>
  </div>

  <div class="bg-secondary pb-3">
    <div class="container">
    <div class="row mb-4 ">

      <div class="col-md-4 text-md-end text-center mb-3 mb-md-0">
        <h6 class="fw-bold">تابعونا على:</h6>
        <div class="d-flex  justify-content-right gap-3 fs-4">
          <i class="fab fa-tiktok"></i>
          <i class="fab fa-youtube"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-x-twitter"></i>
          <i class="fab fa-facebook-f"></i>
        </div>
      </div>

      <div class="col-md-4 text-md-end text-center mb-3 mb-md-0">
        <h6 class="fw-bold">طرق الدفع</h6>
        <div class="d-flex justify-content-right gap-4 fs-4">
          <i class="fas fa-money-bill-wave" title="Cash on Delivery"></i>
          <i class="fab fa-cc-visa" title="Visa"></i>
          <i class="fab fa-cc-mastercard" title="MasterCard"></i>
          <i class="fas fa-university" title="Fawry / Bank Transfer"></i>
        </div>
      </div>
    </div>

    <div class="row text-center text-md-start mb-4">
      <div class="col-6 col-md-2 mb-2">Sokany</div>
      <div class="col-6 col-md-2 mb-2">Tornado</div>
      <div class="col-6 col-md-2 mb-2">XIAOMI</div>
      <div class="col-6 col-md-2 mb-2">OPPO</div>
      <div class="col-6 col-md-2 mb-2">Samsung</div>
      <div class="col-6 col-md-2 mb-2">SHEIN</div>

      <div class="col-6 col-md-2 mb-2">Mesery</div>
      <div class="col-6 col-md-2 mb-2">NIVEA</div>
      <div class="col-6 col-md-2 mb-2">Nokia</div>
      <div class="col-6 col-md-2 mb-2">LC Waikiki</div>
      <div class="col-6 col-md-2 mb-2">Lenovo</div>
      <div class="col-6 col-md-2 mb-2">Maybelline New York</div>

      <div class="col-6 col-md-2 mb-2">HP</div>
      <div class="col-6 col-md-2 mb-2">Izor</div>
      <div class="col-6 col-md-2 mb-2">Kady</div>
      <div class="col-6 col-md-2 mb-2">L'Oreal Paris</div>
      <div class="col-6 col-md-2 mb-2">Defacto</div>
      <div class="col-6 col-md-2 mb-2">Dice</div>

      <div class="col-6 col-md-2 mb-2">Fresh</div>
      <div class="col-6 col-md-2 mb-2">Garnier</div>
      <div class="col-6 col-md-2 mb-2">Apple</div>
      <div class="col-6 col-md-2 mb-2">Braun</div>
      <div class="col-6 col-md-2 mb-2">Casio</div>
      <div class="col-6 col-md-2 mb-2">Cottonil</div>

      <div class="col-6 col-md-2 mb-2">Activ</div>
      <div class="col-6 col-md-2 mb-2">ADIDAS</div>
      <div class="col-6 col-md-2 mb-2">American Eagle</div>
      <div class="col-6 col-md-2 mb-2">Andora</div>
    </div>

    <hr class="border-light">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
       <div></div>
         <div>
        <i class="fas fa-credit-card fs-4"></i> <span class="ms-2">PAY</span>
      </div>

      <div class="d-flex align-items-center gap-2 mb-2 mb-md-0">
        <i class="fas fa-flag" style="color:red;"></i><span>عربي</span>
        <span class="px-2">|</span>
        <i class="fas fa-flag-usa" style="color:blue;"></i><span>English</span>
      </div>
    </div>
  </div>
  </div>
</footer>




